@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* 900 */
    --color-on-surface: 17, 24, 39;
    /* 700 */
    --color-on-surface-variant: 55, 65, 81;
    /* blue-600 */
    --color-primary: 37, 99, 235;
    /* blue-700 */
    --color-primary-hover: 29, 78, 216;
    /* blue-50 */
    --color-on-primary: 239, 246, 255;
    /* Surfaces */
    /*level1 */
    --color-surface: 255, 255, 255;
     /*level -1 100 */
    --color-surface-variant: 243,244,246;
      /*level -2 200 */
      --color-surface-hover: 229,231,235;
    /* border */
    /*100 */
    --border-softer:243,244,246;
    /* 200 */
    --border-soft: 229,231,235;
      /* error */
    /*700 */
    --color-error: 185,28,28;
    

  }
}
.dark {
  /* 50 */
  --color-on-surface: 249, 250, 251;
  /* 300*/
  --color-on-surface-variant: 209, 213, 219;
  /* blue-700 */
  --color-primary: 37, 99, 235;
  /* blue-500 */
  --color-primary-hover: 59, 130, 246;
  /* blue-50 */
  --color-on-primary: 239, 246, 255;
  /* Surfaces */
  /* level1 */
  --color-surface: 31, 41, 55;
    /*level -1 700 */
    --color-surface-variant: 55,65,81;
      /*level -2 200 */
      --color-surface-hover: 75,85,99;
   /* border */
    /*800 */
    --border-softer:  31,41,55;
    /* 700 */
    --border-soft: 55,65,81;
          /* error */
    /*400 */
    --color-error: 248,113,113;
 
}
